/*definicion de los estilos */
body{
    background-color:black;
    color:white;
}
/*estiilos de link*/
a{
    color:blue;
}
a:hover{
color:yellow;
}
/*classes- selectores */
.texto-centrado{
    text-align:center;
}
.titulo{
    font-size:200%
}